.history-container {
  display: flex;
  padding: 8px;
  margin: 10px;
  background: #36e865;
  border-radius: 5px;
  border: 1px solid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.history-container svg {
  font-size: 28px !important;
}

.history-block {
  flex: 0.5;
}

span.history-counts {
  font-size: 20px;
  color: #000;
}

.history-block.history-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.history-block.history-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

.history-block.history-right span {
  padding: 10px 4px;
}

.history-delete,
.history-restore {
  border-radius: 5px;
  height: 40px;
}

.history-delete {
  background: #fffbfb;
  margin-right: 10px;
  color: #d40000;
  border: 1px solid;
}

.history-restore {
  background: #f7fff7;
  margin-right: 2px;
  color: #1f4a20;
  border: 1px solid;
}

.history-tasbih-name {
  font-size: 15px;
}

.inner-container {
  height: 95vh;
  overflow: auto;
}

.history-container > p {
  margin: 0;
}

.history-counter {
  display: flex;
  bottom: -5px;
  width: 50%;
  text-align: center;
  height: 25px;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 10px 0 5px;
  border: 2px solid;
  justify-content: space-between;
  border-bottom: none;
  color: #1f4a20;
  font-weight: bold;
}

.history-tasbih-counter {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
