.history-container {
    display: flex;
    padding: 8px;
}

.inner-container {
    margin: 10px;
    background: #ff5044;
    border-radius: 5px;
}

.history-block{
    flex: .5;
}

span.history-counts {
    font-size: 32px;
    color: #000;
}

.history-block.history-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.history-block.history-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.history-block.history-right span {
    padding: 10px 4px;
}

.history-delete,.history-restore {
    border-radius: 5px;
    height: 40px;
}

.history-delete{
    background: #ff8a8a;
    margin-right:10px;
}

.history-restore{
    background: #41d516;
    margin-right:2px;
}

svg{
    height: 100%;;
    font-size: 32px;
}