.history-container {
    display: flex;
    padding: 8px;
    margin: 10px;
    background: #fa7361;
    border-radius: 5px;
}

.history-block{
    flex: .5;
}

span.history-counts {
    font-size: 20px;
    color: #000;
}

.history-block.history-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.history-block.history-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

.history-block.history-right span {
    padding: 10px 4px;
}

.history-delete,.history-restore {
    border-radius: 5px;
    height: 40px;
}

.history-delete{
    background: #ff0000;
    margin-right: 10px;
    color: #fff;
}

.history-restore{
    background: #41d516;
    margin-right:2px;
    color: #fff;
}

svg{
    height: 100%;;
    font-size: 32px;
}

.history-tasbih-name{
    font-size: 15px;
}