@media (max-width: 767px) {
  .header-bar {
    width: 100% !important;
    height: 40px;
    background: #36e865;
    display: flex;
  }

  .page-name {
    justify-content: center !important;
  }
}

.header-bar {
  width: 350px;
  height: 40px;
  background: #36e865;
  display: flex;
}

.sub-header {
  flex: 1;
}

.menu-bar,
.search-bar {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 22px;
  color: #1f4a20;
  position: relative;
}

.page-name {
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  text-transform: uppercase;
}

.search-bar {
  height: auto !important;
  justify-content: flex-end;
  margin-right: 10px;
}

span.layout {
  display: flex;
}

.Bar-class svg {
  font-size: 23px !important;
}

.layout svg {
  font-size: 25px !important;
}
