.slider-container{
    width: 100%;
    background: #2dc653;
    height: 400px;
    flex-direction: column;
    padding: 20px;
}

.slider-text{
    text-transform: uppercase;
    color: #ecf39e;
    width: 50%;
    flex: 1;
    text-align: center;
    flex-direction: column;
}

.btn-user-interaction{
    width: 40%;
}

.or-text{
    font-size: 14px;
    color: #ecf39e;
    font-weight: bold;
}
.quote-line{
    align-items: flex-end;
    flex: .5;
}

.user-sign-in div{
    margin:0px 20px;
    width: 40%; 
}

.sign-in-with p {
  text-align: center;
  margin: 0;
  color: #2e5c29;
}

button.skip-btn {
  background: #ecf39e !important;
  color: #2dc653;
}

.user-sign-in button {
  width: 100%;
  border: 1px solid #0f4a0c;
  background-color: #36e865;
}