.side-navigation {
  display: flex;
  height: calc(100vh - 40px);
  width: 350px;
  background: #caffd8;
  /* border-right: 5px solid #36e865; */
  flex-direction: column;
}

.profile-picture-box {
  height: auto;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: #36e865;
  padding: 10px 0;
}

/* .footer {
} */

label.custom-img-upload{
  height: 95px;
  width: 95px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.img-upload{
  height: 100%;
  width: 100%;
}

/* 
.profile-picture-box .img-block img {
  border-radius: 50%;
} */

.overlay{
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  border-radius: 50%;
  transition: .2s ease-in-out;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.overlay:hover{
  background: #00000069;
  display: flex;
}

span.overlay:after {content: "";display: none;background: #0000002b;height: 100%;width: 100%; position: absolute;}
span.overlay:hover:after{content: "";display: flex}

.custom-img-upload input#photo-upload{
  display: none;
}

.overlay .profile-camera{
  position: absolute;
  width: 20px;
  color: transparent;
}
.overlay:hover .profile-camera{
  color: #fff;  
  transition: .3s ease-in-out;
}

span.user-name {
  color: #000;
  font-size: 15px;
  margin-top: 10px;
}

.content {
  border-top: 1px solid #8df1a7;
  padding-top:5px;
  flex: 6;
  padding-left:15%; 
  flex-direction: column;
  justify-content: flex-start !important;
}

div.home-page.homepage,div.tasbih-history.history,div.req-tasbih.request{
    background: #36e865 !important;
    border:1px solid #1f4a20;
    position: relative;
}

div.home-page.homepage a,div.tasbih-history.history a,div.req-tasbih.request a{
    color: #1f4a20 !important;
    font-weight: 600;
}

div.home-page.homepage:after, div.tasbih-history.history::after, div.req-tasbih.request:after{
          content: "";
    background: #ffffff;
    height: 18px;
    width: 6px;
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    border-right: none;
}
  .content > div{
    background: #1f4a20;
    border: 1px solid #1f4a20;
  }

.content > div,
.footer > div {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 2.5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

span.content-btn > a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

span.log-out-btn button,span.google-sign-up button {
    font-size: 14px;
    border: none;
    padding: 5px 8px;
    width: 100%;
    background: #ff3030;
    /* border-radius: 4px; */
    color: #fff;
}

span.google-sign-up button{
  background: #4285f4;
  display: flex;
  place-content: Center;
  align-items: center;
  font-size: 16px;
  justify-content: space-between;
}

span.log-out-btn,.google-sign-up {
  width: 100%;
}

svg.svg-inline--fa.fa-google.fa-w-16.google-icon {
    width: 16px;
}

.timer-section{
  display: flex;
  margin:0px !important; 
  padding: 0px 10px;
  margin-bottom: 10px !important;
}

@media (max-width: 767px) {
  .side-navigation {
    position: absolute;
    top: 40px;
    left: -280px;
    width: 280px !important;
  }

  .side-navigation.nav-menu {
    transform: translateX(-280px);
    transition: 0.3s ease-in;
    z-index: 999999;
  }

  .side-navigation.nav-menu.open {
    transform: translateX(280px);
    transition: 0.5s ease-out;
    z-index: 2;
  }

  .backbone {
    z-index: 1;
    position: fixed;
    height: 95vh;
    width: 100%;
    right: 0px;
    top: 40px;
    bottom: 0;
    background: #000;
    opacity: 0%;
    display: none;
  }

  .backbone.open {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .backbone {
    animation: fadeOutAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 25%;
    }
  }

  @keyframes fadeOutAnimation {
    0% {
      opacity: 25%;
    }
    100% {
      opacity: 0%;
    }
  }

  .backbone.open {
    display: block !important;
    transition: 0.5s;
  }
}
