@media (min-width: 768px) {
  .outer-container {
    display: flex;
    flex-direction: row;
  }

  .inner-container {
    flex: 1;
  }
}

.outer-shell {
  display: flex;
  height: calc(100vh - 40px);
  width: 100%;
  flex-direction: column;
  overflow: auto;
  padding: 0 5px; 
}

.home-header {
  flex: 0.1;
  background: #bbbbbb;
}

.home-body {
  flex: 1;
}

.add-tasbih {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

.span-icon {
  height: 40px;
  width: 40px;
  font-size: 40px;
  line-height: 30px;
  background: #97979700;
}

.span-icon:hover {
  background: #b68181;
}

.tasbih-card-shell,
.tasbih-card-shell-doted {
  width: 50%;
  height: 180px;
  float: left;
  padding: 10px;
  display: flex;
}

.do-flip {
    transform: rotateY(90deg);
    transition: .4s;
}

.colomn-layout {
  width: 100%;
}

.row-layout {
  width: 50%;
}

.tasbih-card-inner {
  background: #caffd8;
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0px #cecece, 0 0 2px 1px #dedede52;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
}

.tasbih-card-inner-dotted {
  background: rgb(202 255 216);
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 2px dashed #1f4a20;
  text-align: center;
  cursor: pointer;
}

.tasbih-icon-plus {
  font-size: 20px;
  color: #1f4a20;
}

.middle-card {
  flex: 1;
  text-align: center;
  align-items: center;
  display: flex;
  user-select: none;
  flex-direction: row;
  width: 100%;
}

.main-inner{
  height: 100%;
  width: 100%;
  }


.tasbih-counts,.main-body{
  flex: 1;
  height: 100%;
}

.tasbih-counts{
  font-size: 50px;
}

.side-panel-l,.side-panel-r{
  display: flex;
  flex-direction: column;
  height: 100%;
  width:40px;
}
.side-panel-l span,.side-panel-r span{
  flex: 1;
  font-size: 21px;   
  border-left: 1px solid;
  border-color: #caffd8;
  background: #b6f3c7;
}

.side-panel-r span{
    border-left: none;
}

.header-card {
  text-align: center;
  padding: 4px;
  background: #36e865;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 12px;
  color: #064a0e;
  flex-direction: row;
  position: relative;
}

@media (max-width: 767px) {
  .tasbih-card-shell,
  .tasbih-card-shell-doted {
    height: 150px;
  }
    .tasbih-counts{
    font-size: 25px;
  }

  .side-panel-l svg{
    font-size: 16px !important;
  }

}

.tasbih-remove,.tasbih-start-pause,.tasbih-record,.tasbih-start-pause {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid;
  color: #f00;
}

.tasbih-record{
  cursor: pointer;
  border-bottom: none;
  overflow: hidden;
  
}

.tasbih-record > svg{
  font-size: 22px !important; 
}

.move-up.tasbih-counts,.move-up.timer-panel,.move-up.ri-timer,.move-up.bi-hash{
  transform: translateY(-100%);
  transition: .5s ease-in-out;
}

.move-down.tasbih-counts,.move-down.timer-panel,.move-down.ri-timer,.move-down.bi-hash{
  transform: translateY(0%);
  transition: .5s ease-in-out;
}

.main-body{
  overflow: hidden;
}

.tasbih-start-pause > svg{
  font-size: 30px;
  color: #1a7431;
}

.tasbih-reset {
  color: #1f4a20;
}

/*Svg Section Start*/
svg {
  height: 100%;
  font-size: 28px;
  display: inline-flex ;
}

.tasbih-remove svg {
  font-size: 18px;
}

.tasbih-reset svg {
  font-size: 22px !important;
}
/*Svg Section End*/

.tasbih-name {
  flex: 1;
}

.no-more-tasbihs {
  width: 100%;
  color: #969696;
  padding: 10px 0;
}
